body{
    background-color: rgb(127, 229, 255);
    color: black;
}

h1{
    text-align: center;
}

select{
    display: block;
    margin: 0 auto;
    text-align: center;
}

footer{
    text-align: center;
}