body{
    background-color: #f9f7fe;
    font-family: sans-serif;
    color: black;
}

h1{
    text-align: center;
}

h2{
    font-size: 28px;
}

select{
    display: block;
    width: 100%;
    padding: 5px;
    border-radius: 3px;
}

.container{
    max-width: 600px;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.city{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 15px 0;
    border-bottom: 1px dashed rgba(128, 128, 128, 0.693);
}

.date{
    opacity: 0.7;
}

.time{
    font-size: 30px;
    font-weight: bold;
}

.time small{
    font-size: 18px;
    vertical-align: middle;
}

footer{
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
}